



body {
  background-color: rgb(192, 188, 173);
}

.centralizar{
  text-align: center;
}


p{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: small;
    margin: 10px;
}

p::first-letter{
    color: black;
    text-transform:uppercase;
}

.background  {
    background-color: rgb(158, 152, 151);
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }

  .background-footer {
    background-color: rgb(70, 68, 67); 
    color: white; border: 2px solid black; 
    margin: 20px; 
    padding: 20px;
  }

  

  h1{
    /* text-align: center; */
    font-family: 'Courier New', Courier, monospace;
  }